<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>社員一覧</title>
</head>
<body>
	<h1>社員一覧</h1>
	<form action="/attendance/employee-register" method="get">
		<button type="submit">社員新規登録</button>
	</form>
	<table border="1">
		<tr>
			<th>No</th>
			<th>氏名</th>
			<th>出身地</th>
			<th>入社月</th>
			<th></th>
		</tr>
		<form action="/attendance/employee-detail" method="post">
			<tr th:each="employee : ${employeeList}">
				<td th:text="${employee.id}"></td>
				<td th:text="${employee.name}"></td>
				<td th:text="${employee.hometown}"></td>
				<td th:text="${employee.joiningMonth}"></td>
				<td>
					<button type="submit" name="employeeId" th:value="${employee.id}">詳細</button>
				</td>
			</tr>
		</form>
	</table>
</body>
</html>